@import "../components/common.scss";

.container {
	width: 100%;
	max-width: 1240px;
	margin: auto;
	padding: 0 80px;
}

.row {
	display: flex;
	margin: auto;
	justify-content: space-between;
	padding: 180px 0px;
}

.col {
	width: 50%;
	margin-left: -12vw;
	margin-right: -12vw;
	&Title {
		position: relative;
	}
}

.title-box {
	position: absolute;
	bottom: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.big-title {
	@extend .basic-text;
	font-size: $bigMainTitle;
	font-weight: bold;
}

.small-title {
	@extend .basic-text;
	font-size: $smallTitle;
	font-weight: bold;
	color: $subFontColor;
}

.input-title {
	@extend .basic-text;
	font-size: $inputTitle;
	margin-bottom: 12px;
}

.input-linkText {
	margin-top: 12px;
	margin-bottom: 45px;
	color: $subFontColor;
	font-size: 13px;
}
.input-linkText a {
	text-decoration: none;
	color: $pointColor;
}

.bigLogoImg {
	width: 100%;
}

.input-wrap {
	list-style: none;
	padding-left: 0px;
}

.input {
	width: 100%;
	font-size: 16px;
	color: $mainFontColor;
	box-shadow: none;
	border: none;
	border-radius: 15px;
	height: 56px;
	&Btn {
		background-color: $pointColor;
	}
	&Text {
		background-color: $greyColor;
		margin: 4px 0px;
		padding: 16px;
		outline-width: 0;
	}
}

@media screen and (max-width: 1600px) {
	.col {
		margin-left: -2vw;
		margin-right: -2vw;
	}
}

@media screen and (max-width: 1023px) {
	/* 타블렛 */
	.container {
		width: 100%;
		padding: 0 40px;
	}
	.col {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
	.row {
		flex-direction: column;
		justify-content: center;
		padding-bottom: 80px;
	}
	.big-title {
		font-size: $mediumMainTitle;
	}
}

@media screen and (max-width: 767px) {
	/* 모바일 */

	.row {
		padding-top: 20vh;
		padding-bottom: 0px;
	}
	.title-box {
		display: none;
	}
}
