@import "../components/common.scss";

.login-container {
	width: 100%;
	max-width: 1240px;
	margin: auto;
	padding: 0 80px;

	&__row {
		display: flex;
		margin: auto;
		justify-content: space-between;
		padding: 180px 0px;
	}

	&__col {
		width: 50%;
		margin-left: -12vw;
		margin-right: -12vw;
		position: relative;
	}
}

.title-box {
	position: absolute;
	bottom: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	&__title {
		@extend .basic-text;
		font-size: $bigMainTitle;
		font-weight: bold;
	}
	&__subtitle {
		@extend .basic-text;
		font-size: $smallTitle;
		font-weight: bold;
		color: $subFontColor;
	}
}

.logo__img {
	width: 100%;
}

.input {
	list-style: none;
	padding-left: 0px;
	&__text {
		width: 100%;
		font-size: 16px;
		color: $mainFontColor;
		box-shadow: none;
		border: none;
		border-radius: 15px;
		height: 56px;
		&--form {
			background-color: $greyColor;
			margin: 4px 0px;
			padding: 16px;
			outline-width: 0;
		}
		&--submit {
			background-color: $pointColor;
		}
	}
	&__title {
		@extend .basic-text;
		font-size: $inputTitle;
		margin-bottom: 12px;
	}
	&__sign-up-text {
		margin-top: 12px;
		margin-bottom: 45px;
		color: $subFontColor;
		font-size: 13px;
		&--link {
			text-decoration: none;
			color: $pointColor;
		}
	}
}

@media screen and (max-width: 1600px) {
	.login-container {
		&__col {
			margin-left: -2vw;
			margin-right: -2vw;
		}
	}
}

@media screen and (max-width: 1023px) {
	/* 타블렛 */
	.login-container {
		width: 100%;
		padding: 0 40px;
		&__col {
			width: 100%;
			margin-left: 0;
			margin-right: 0;
		}
		&__row {
			flex-direction: column;
			justify-content: center;
			padding-bottom: 80px;
		}
	}
	.title-box__title {
		font-size: $mediumMainTitle;
	}
}

@media screen and (max-width: 767px) {
	/* 모바일 */

	.login-container {
		&__row {
			padding-top: 20vh;
			padding-bottom: 0px;
		}
	}
	.title-box {
		display: none;
	}
}
