$bigMainTitle: 72px;
$mediumMainTitle: 56px;
$smallTitle: 20px;
$inputTitle: 22px;
$mainFontColor: #fff;
$subFontColor: #888889;
$greyColor: #252527;
$pointColor: #017451;

.basic-text {
	color: $mainFontColor;
}
